.selektor {
    color: #111;
    *, ::after, ::before {
        box-sizing: border-box;
    }

    position: relative;
    font-size: 1rem;
    font-family: inherit;

    .selektor-zone {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: stretch;
        background-color: #DDD;
        border: 1px solid #999;
        border-radius: 4px;

        input {
            padding: 4px 6px;
            flex-grow: 1;
            border: 0;
            transition: box-shadow .15s ease-in-out;
            line-height: 1.5;
            background-color: transparent;

            &:focus {
                outline: none;
            }
        }

        .selektor-item {
            display: flex;
            align-items: center;
            padding: 2px 5px;
            white-space: nowrap;

            .selektor-item-clear {
                border: 0;
                border-radius: 2px;
                background: none;
                margin-left: 2px;
                cursor: pointer;
            }
        }

        &::after {
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            border: 0;
            content: 'v';
            font-family: sans-serif;
            padding: 6px;
            color: #222;
            transition: transform .10s ease-in-out;
            line-height: 1.2;
        }

        &:hover {
            background-color: #CCC;
        }
    }

    .selektor-virtual-collection-wrapper {
        position: absolute;
        display: none;
        width: 100%;
        background-color: #FFF;
        border: 1px solid #999;
        border-top: 0;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        z-index: 50;
        max-height: 300px;
        overflow-y: scroll;
    }

    .selektor-virtual-loading {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px 6px;
        overflow: hidden;

        &::after {
            display: block;
            content: '';
            border: 4px solid #DDD;
            border-top: 4px solid darken(#86b7fe, 10%);
            border-radius: 50%;
            width: 30px;
            height: 30px;
            animation: spin .5s linear infinite;

            @keyframes spin {
                0% { transform: rotate(0deg); }
                100% { transform: rotate(360deg); }
            }
        }
    }

    .selektor-virtual-collection {
        display: flex;
        flex-direction: column;
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;

        .selektor-option,.selektor-optgroup, .selektor-no-option {
            padding: 4px 6px;

            &:last-child {
                border-bottom: 0;
            }

            mark {
                padding-right: 0;
                padding-left: 0;
            }
        }

        .selektor-option {
            cursor: pointer;

            &.selektor-option-focus {
                background-color: #EEE;
            }

            &[data-selektor-selected] {
                font-style: italic;
                background-color: #86b7fe;

                &.selektor-option-focus {
                    background-color: darken(#86b7fe, 10%);
                }
            }

            &[data-selektor-disabled] {
                font-style: italic;
                color: #888;
                pointer-events: none;
            }
        }

        .selektor-optgroup {
            font-weight: bold;
        }
    }

    &.opened {
        .selektor-zone {
            border-color: #86b7fe;
            outline: 0;
            box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);

            &::after {
                transform: rotate(-180deg);
            }
        }

        .selektor-virtual-collection-wrapper {
            display: block;
        }
    }

    &.selektor-stacked {
        .selektor-zone {
            .selektor-item, input {
                width: 100%;
            }
        }
    }
}
